field{
    /*
    Put a bottom margin*/
    /*margin-bottom: 10px;*/
}

article>parent>record{
    /*
    Re-set the width to 100%, thus overriding previous settings*/
    width:100%;
    /*
    Limit fields width section to a tenth of the article size because
    we want to use the columns as the flexi direction*/
    height:10%;
    
    /*
    The fields container is a flexibox*/
    display:flex;
    /*
    Use the coumns as the flexi direction*/
    flex-direction: column;
    /*
    Do wrappng when you hot the bottom of the fields*/
    flex-wrap: wrap;
    /*
    Draw a border around the field area*/
    border:1px solid red;
    
}

/*
Descendants is also a flex box*/
descendants{
    display:flex;
}

/*
Format the title of a member*/
div.descendant{
    font-weight: bold;
}

/*
Format the descendant member*/
descendant{
    border:1px solid blue;
    /*
    A member occupies a third of the descendant's width*/
    /*width:33%;*/
    /*
    Make the border re-sizable*/
    resize:horizontal;
    /*
    Any member greater than the provided width will be scrollable*/
    overflow:scroll;
}

descendant[current]{
    background-color:lightgreen;   
}