/*
The descendants of a parent table should be shown with a less emphasized font
They are the 2nd field of the record parent
*/

field[fname='members'] {
    font-size: large;
    font-weight:normal;
}

field[fname='status'] {
    font-size: small;
    font-weight:normal;
}



